@import 'font.scss';

@import '../components/Header/Header.scss';

@import '../containers/Home/Home.scss';


:root {
    /* Main Color */
    --backgoundColor: #f3f6fd;
    --sectionColor: #fff;

    /* Text */
    --textColor: #1f1c2e;
    --textColor2: #ffffff;
    --textLinkColor: #2ba9d9;

    /* Button */
    --buttonHover: #7c9df0;
    --buttonBg: #5585ff;
    --buttonText: #f5f2f2;
    --buttonTextHover: #f7f7f7;

    --donationBorderColor: #e9ebf0;
    --backgoundColorInput: #F0F0F0;

    --main-color: #f3f6fd;
    --TEXT_COLOR: #828282;
    --TITLE_COLOR: #f25e33;
    --SECONG_COLOR: #fff;
    --BUTTON_BACKGROUND_COLOR: rgb(56, 65, 65);
    --INPORTANT_BUTTON_BACKGROUND_COLOR: #00be1c;
    --HOVER_BUTTON_BACKGROUND_COLOR: rgb(91, 100, 100);
    --INPUT_BACKGROUND_COLOR: rgb(69, 75, 75);
    --PLACEHOLDER_COLOR: rgb(87, 187, 187);
    --TEXT_LINK_COLOR: #2ba9d9;
    --INPUT_TEXT_COLOR: #424242;
    /* --BORDER: 1px solid #ccc; */
}




.simpleLink {
    margin-top: 5px;
    cursor: pointer;
    color: var(--textLinkColor);

    &:hover {
        text-decoration: underline;
    }
}

.simpleButton {
    cursor: pointer;
    background-color: var(--buttonBg);
    padding: 7px 15px;
    color: var(--buttonText);
    /* font-weight: 800; */
    font-size: 17px;
    border-radius: 10px;
    transition: all .2s ease;
    text-align: center;
    border: none;

    &.red {
        background-color: rgb(255, 21, 21);

        &:hover {
            background-color: rgb(255, 83, 83);
        }
    }

    &:disabled {
        background-color: var(--PLACEHOLDER_COLOR);
        cursor: not-allowed;

        &:hover {
            background-color: var(--PLACEHOLDER_COLOR);
            cursor: not-allowed;
        }
    }
}

.simpleButton:hover {
    background-color: var(--buttonHover);
    color: var(--buttonTextHover);
}

.simpleButton2 {
    cursor: pointer;
    background-color: var(--buttonBg);
    padding: 7px 10px;
    color: var(--buttonText);
    font-size: 17px;
    transition: all .2s ease;
    text-align: center;
    border: none;
    height: 39px;
    border-radius: 39px;

    &.red {
        background-color: rgb(255, 21, 21);

        &:hover {
            background-color: rgb(255, 83, 83);
        }
    }

    &:disabled {
        background-color: var(--PLACEHOLDER_COLOR);
        cursor: not-allowed;
    }
}

.simpleButton2:hover {
    background-color: var(--buttonHover);
    color: var(--buttonTextHover);
}

/* add aniation deplacement */
.deleteButton {
    background-color: red;

    &:hover {
        background-color: rgb(255, 68, 68);
    }
}

* {
    color: var(--textColor);
    font-family: "Poppins", sans-serif;
    outline: #5585ff;
}

.asterisk {
    font-size: 14px;
}

.emailInput {
    font-size: 15px;
}

input,
textarea {
    /* outline: none; */
    color: var(--textColor) !important;
    background-color: var(--backgoundColorInput);
    font-size: 17px;
    padding: 12px;
    border-radius: 15px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

::placeholder {
    color: rgb(87, 187, 187);
}

.pp {
    background-color: white;
    border-radius: 50%;
    border: solid 2px white;
    object-fit: cover;
    user-drag: none;
    -webkit-user-drag: none;
    transition-duration: 0.1s;
}

body,
html,
#root,
#__next {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--backgoundColor);
    height: 100%;
    width: 100%;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    display: none !important;
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: calc(100% - 30px);
    background-color: var(--sectionColor);
    padding: 15px;
    border-radius: 16px;
    margin: 10px 0;
    border: var(--BORDER);
    box-shadow: 0 2px 6px 0 rgba(136, 148, 171, 0.2), 0 24px 20px -24px rgba(71, 82, 107, 0.1);
    z-index: 9;

    .sectionHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 12px 0;
        color: var(--textColor);
        /* position: sticky; */
        top: 0;
        z-index: 1;

        p {
            font-size: 24px;
            line-height: 32px;
            font-weight: 700;
            opacity: 0.9;
            margin: 0;
            color: var(--textColor);
            text-align: center;
        }

        svg {
            margin-right: 10px;
            height: 25px;
            width: 25px;
            fill: var(--PLACEHOLDER_COLOR);
        }
    }

    .sectionClosePopup {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;

        svg {
            height: 40px;
            width: 40px;
            fill: black;
        }
    }
}

.dffd {
    display: flex;
    align-items: center;

    .simpleSelectMenuOptionsSelect {
        font-size: 18px;
        background-color: var(--backgoundColorInput);
        --tw-bg-opacity: 1;
        border-radius: 15px;
        width: 130px;
        padding: 10px;
        border: none;
        outline: 1px solid transparent;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out, outline 0.2s ease-in-out;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;

        &:focus {
            background-color: white !important;
            outline: solid #5585ff;
        }
    }

    .simpleSelectMenuOptionsDropdown {}

    svg {
        margin-left: -30px;
        height: 20px;
        width: 20px;
    }
}


/* font-size: 18px;
--tw-bg-opacity: 1;
width: 130px;
padding: 10px;
border: none;
outline: 1px solid transparent;
transition: background-color 0.2s ease-in-out, outline 0.2s ease-in-out;

&:focus {
    background-color: white !important;
    outline: solid #5585ff;
} */

// .simpleSelectMenuOptions {
//     position: relative;
//     width: 100%;
//     background-color: var(--backgoundColorInput);
//     border-radius: 15px;
//     z-index: 999;
// }

// .simpleSelectMenuOptionsSelect {
//     font-size: 18px;
//     background-color: var(--backgroundColorInput);
//     border-radius: 15px;
//     padding: 10px;
//     border: none;
//     outline: 1px solid transparent;
//     position: relative;
//     cursor: pointer;
//     transition: background-color 0.2s ease-in-out, outline 0.2s ease-in-out;
//     appearance: none;
//     -webkit-appearance: none;
//     -moz-appearance: none;
//     width: 100%;
//     box-sizing: border-box;
//     z-index: 10;
// }

// .simpleSelectMenuOptionsSelect:focus {
//     background-color: white;
//     outline: solid #5585ff;
// }

// .simpleSelectMenuOptionsDropdown {
//     position: absolute;
//     top: 100%;
//     left: 0;
//     right: 0;
//     margin-top: -10px;
//     padding: 0px;
//     background-color: white;
//     border-radius: 0 0 15px 15px;
//     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
//     z-index: 9;
//     overflow: hidden;
//     display: none;
//     height: 0px;
//     transition: paddingTop 0.0001s ease-in-out, height 0.2s ease-in-out;
// }

// .simpleSelectMenuOptionsDropdown.open {
//     display: block;
//     padding-top: 10px;
//     margin-top: -10px;
// }

// .simpleSelectMenuOptionsDropdown.closed {
//     display: block;
//     padding-top: 0px;
//     margin-top: 0px;
// }

// .simpleSelectMenuOptionsDropdown div {
//     padding: 10px;
//     cursor: pointer;
//     transition: background-color 0.2s ease-in-out;
//     z-index: 99;
// }

// .simpleSelectMenuOptionsDropdown div:hover {
//     background-color: var(--backgoundColorInput);
// }

// .simpleSelectMenuOptions svg {
//     position: absolute;
//     right: 10px;
//     top: 25px;
//     transform: translateY(-50%);
//     pointer-events: none;
//     transition: transform 0.2s ease-in-out;
//     z-index: 999;
// }

// .simpleSelectMenuOptions.open svg {
//     transform: translateY(-50%) rotate(180deg);
// }

/* color input  */
.colorPicker {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: Arial, sans-serif;

    .colorPreview {
        width: 40px !important;
        min-width: 40px !important;
        height: 40px !important;
        min-height: 40px !important;
        border: 1px solid #ccc;
        border-radius: 10px;
        cursor: pointer;
        transition-duration: 0.15s;

        &:hover {
            transform: scale(1.05);
        }

        .colorInput {
            height: 40px;
            width: 40px !important;
            position: absolute;
            border-radius: 10px;
            padding: 0;
            border: none;
            opacity: 0;
            cursor: pointer;
        }
    }

    .hexInput {
        width: 90px;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        text-transform: uppercase;
        text-align: center;
    }
}

/* //////////////////////////// */

/* range input  */
// .rangeContainer {
//     text-align: center;
//     display: flex;
//     align-items: center;
// }

// input[type="range"] {
//     -webkit-appearance: none;
//     width: 300px;
//     height: 15px;
//     background: #ddd !important;
//     outline: none;
//     border-radius: 10px;
//     margin: 10px 0;
// }

// input[type="range"]:focus {
//     background: #ddd !important;
// }

// input[type="range"]::-webkit-slider-thumb {
//     -webkit-appearance: none;
//     width: 30px;
//     height: 30px;
//     background: var(--buttonBg);
//     cursor: pointer;
//     border-radius: 50%;
// }

// input[type="range"]::-moz-range-thumb {
//     width: 30px;
//     height: 30px;
//     background: var(--buttonBg);
//     cursor: pointer;
//     border-radius: 50%;
// }

// .rangeValue {
//     font-size: 22px !important;
//     text-align: left;
//     color: #333;
//     margin-left: 10px;
//     outline: none !important;
//     border: none;
//     padding: 0;
//     background-color: transparent;
//     height: 100%;
//     width: 40px;
// }

// .rangeValue:focus {
//     outline: none !important;
//     border: none;
//     border-radius: 0;
// }

// .unit {
//     font-size: 24px;
//     text-align: left;
//     color: #333;
// }

/* //////////////////////////// */

.question {
    .messageForQuestion {
        position: absolute;
        background-color: var(--sectionColor);
        box-shadow: 0 2px 6px 0 rgba(72, 76, 85, 0.2), 0 24px 20px -24px rgba(47, 54, 70, 0.1);
        z-index: 15;
        padding: 5px 10px;
        border-radius: 10px;
        border-bottom-left-radius: 0px;
        margin-top: -33px;
        margin-left: -7px;
        display: none;
    }

    &:hover {
        .messageForQuestion {
            display: inline;
        }
    }
}

input {
    font-size: 18px;
    background-color: var(--backgoundColorInput);
    --tw-bg-opacity: 1;
    border-radius: 15px;
    width: 130px;
    padding: 10px;
    height: 27px;
    border: none;
    outline: 1px solid transparent;
    transition: background-color 0.2s ease-in-out, outline 0.2s ease-in-out;

    &:focus {
        background-color: white !important;
        outline: solid #5585ff !important;
    }
}

textarea {
    resize: none;
    border: none;
    background-color: var(--backgoundColorInput);
    --tw-bg-opacity: 1;
    outline: 1px solid transparent;
    transition: background-color 0.2s ease-in-out, outline 0.2s ease-in-out;

    &:focus {
        background-color: white !important;
        outline: solid #5585ff;
    }
}

.backgroundForPopup {
    background-color: black;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.85;
    z-index: 9999999;
    height: 100%;
    width: 100%;
}

.placeholder {
    height: 60px;
    width: 150px;
    padding: 5px 15px;
    display: none;
}

.hashtag {
    color: #007bff;
    font-weight: bold;
}

.keyboard {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    gap: 5px;
}

.key {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 24px;
    cursor: pointer;
    user-select: none;
}

.key:active {
    background-color: #eee;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

    &.disabled {

        .slider {
            background-color: #949494;
        }

        input {
            &:checked+.slider {
                background-color: #196fb6;
            }

            &:focus+.slider {
                box-shadow: 0 0 1px #196fb6;
            }
        }
    }

    input {
        opacity: 0;
        width: 0;
        height: 0;

        &:checked+.slider {
            background-color: #2196F3;
        }

        &:focus+.slider {
            box-shadow: 0 0 1px #2196F3;
        }

        &:checked+.slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;

        &:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        &.round {
            border-radius: 34px;

            &:before {
                border-radius: 50%;
            }
        }
    }
}

@keyframes spawn {
    0% {
        display: flex;
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
        display: flex;
    }
}

@keyframes despawn {
    0% {
        display: flex;
        opacity: 1;
        transform: scale(1);
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        display: none;
    }
}

@keyframes spawnFluid {
    0% {
        opacity: 0;
        transform: scale(0);
        display: flex !important;
    }

    75% {
        transform: scale(1.15);
    }

    100% {
        opacity: 1;
        transform: scale(1);
        display: flex !important;
    }
}

@keyframes despawnFluid {
    0% {
        position: absolute;
        opacity: 1;
    }

    25% {
        transform: scale(1.15);
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        display: none;
    }
}

@keyframes translateYSpawn {
    0% {
        opacity: 0;
        transform: translateY(-50px);
        display: flex !important;
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
        display: flex !important;
    }
}

@keyframes translateYDespawn {
    0% {
        opacity: 1;
        transform: translateY(0px);
        display: flex !important;
    }

    100% {
        opacity: 0;
        transform: translateY(-50px);
        display: flex !important;
    }
}

@keyframes despawnSectionFooterButton {
    0% {
        transform: scale(1);
        width: 90.54px;
        opacity: 1;
    }

    60% {
        transform: scale(0);
        /* width: 90.54px; */
        opacity: 0;
    }

    100% {
        width: 0px;
        padding: 7px 0px;
        margin-right: 0px;
        opacity: 0;
    }

    100% {
        display: none;
        opacity: 0;
    }
}

@keyframes spawnSectionFooterButton {
    0% {
        width: 0px;
        padding: 7px 0px;
        margin-right: 0px;
        opacity: 0;
        transform: scale(0);
        display: flex !important;
    }

    30% {
        transform: scale(0);
        /* width: 90.54px; */
        display: flex !important;
    }

    100% {
        transform: scale(1);
        width: 90.54px;
        display: flex !important;
    }
}

.shine {
    /* background: #eee; */
    background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
    background-size: 200% 200%;
    animation: 1.5s shine linear infinite;
}

@keyframes shine {
    to {
        background-position-x: -200%;
    }
}

@keyframes rainbow {
    0% {
        border-color: red;
    }

    14% {
        border-color: orange;
    }

    28% {
        border-color: yellow;
    }

    42% {
        border-color: green;
    }

    57% {
        border-color: blue;
    }

    71% {
        border-color: indigo;
    }

    85% {
        border-color: violet;
    }

    100% {
        border-color: red;
    }
}

@keyframes addOpacityBackground {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.5;
    }
}

@keyframes removeOpacityBackground {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 0;
    }
}

.ppClickAnimate {
    animation: ppClick 0.3s ease-in-out;
}

@keyframes ppClick {
    0% {
        transform: scale(1);
    }

    15% {
        transform: scale(0.9);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes deletingElement {
    0% {
        height: 75px;
        margin-bottom: 10px;
        overflow: hidden;
        margin-bottom: 10px;
        padding: 10px;
        transform: scale(1);
    }

    100% {
        height: 0px;
        display: flex;
        margin-bottom: 0px;
        padding: 0px;
        transform: scale(0);
    }

    100% {
        display: none;
    }
}

/* @keyframes ppClick {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.9);
    }

    85% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
} */


.loading-spinner {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 9px solid #474bff;
    animation: spinner-bulqg1 0.8s infinite linear alternate,
        spinner-oaa3wk 1.6s infinite linear;
}

@keyframes spinner-bulqg1 {
    0% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
    }

    12.5% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%);
    }

    25% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%);
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
    }

    62.5% {
        clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
    }

    75% {
        clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%);
    }

    100% {
        clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%);
    }
}

@keyframes spinner-oaa3wk {
    0% {
        transform: scaleY(1) rotate(0deg);
    }

    49.99% {
        transform: scaleY(1) rotate(135deg);
    }

    50% {
        transform: scaleY(-1) rotate(0deg);
    }

    100% {
        transform: scaleY(-1) rotate(-135deg);
    }
}


@keyframes rotationLoadingAnimation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}