@import "variables";
@import "colors";
@import "../containers/Home/components/hero/hero.scss";
@import "../components/Header/Header.scss";

body {
  margin: 0;
  padding: 0;
  background-color: var(--Background);
  color: var(--Color);
  transition: var(--Transition);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  height: max-content;
}
